<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<title><%- data.name %> par <%- data.owner.login %></title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="infobox">
<h3><%- data.name %></h3>
<p><%- data.description %></p>
<dl>
<dt>par</dt>
<dd><%- data.owner.login %></dd>
<% if (data.homepage) { %>
<dt>web</dt>
<dd><%- data.homepage %></dd>
<% } %>
<dt>création</dt>
<dd><%- data.created_at %></dd>
<dt>dernières contributions</dt>
<dd><%- data.pushed_at %></dd>
<dt>tickets</dt>
<dd><%- data.open_issues %></dd>
<dt>stargazers</dt>
<dd><%- data.watchers %></dd>
<dt>forks</dt>
<dd><%- data.forks %></dd>
<dt>licence</dt>
<dd><%- data.license.name %></dd>
<dt>langage</dt>
<dd><%- data.language %></dd>
</dl>
</div>
<div><%= data.md %></div>
</body>
</html>